.container {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    border: 1px solid red;

}

.box {
    height: 200px;
    width: 100%;
}

#yellow {
    background-color: rgb(236, 236, 33);
}

#orange {
    background-color: rgb(226, 153, 17);
}

#red {
    background-color: rgb(247, 23, 7);
}

#pink {
    background-color: rgb(224, 77, 205);
}

#purple {
    background-color: rgb(132, 17, 199);
}

#blue {
    background-color: rgb(16, 67, 236);
}

#green {
    background-color: rgb(63, 209, 44);
}

@media (min-width: 601px) {

    #red,
    #pink,
    #purple {
        width: calc(100%/3);
    }
}

@media (min-width:801px) {

    #yellow,
    #orange {
        width: calc(100%/2);
    }

    #red,
    #pink,
    #purple {
        width: calc(100%/3);
    }

    #blue,
    #green {
        width: calc(100%/2);
    }

}